/**** AUTHOR: JESUS CABALLERO P. ****/
@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display:400,400i&display=swap');

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-image: url('../../assets/img/bg-water.png');
  background-size: cover;
  background-repeat: no-repeat;
  /* background-color: #ccc; */
  border-radius:0;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-family: 'DM Serif Display', serif;
  font-weight: 500;
  color: navy
}

.jumbotron .container {
  /* max-width: 40rem; */
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.lh-condensed { line-height: 1.25; }

.btn-primary {
  color: #fff;
  background-color: #00007f;
  border-color: #00017e;
}