/*!
* Aguas Olimpia Chile
* Autor: Jesus Caballero Peralta
*/

/* Aqui comienzan los estilos CSS */

@import url('https://fonts.googleapis.com/css?family=Literata:400,500,600,700&display=swap');

.bg-image {
    background-image: url('../images/bg-water.png');
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Literata', serif;
  }

.nav-item a{
    font-size: 1rem;
}
